<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgba(51, 207, 30, 0.849);">

  <div>
    <!-- <a href="#"><i class="fas fa-hard-hat"></i> </a> -->
    <div class="row">
      <div class="col-2"><img src="../../../assets/img/logo.png" alt="" style="" id="logo"></div>
      <div class="col-8"><a class="navbar-brand col-6" href="#">"Fruteria Nombre"</a></div>
    </div>
    <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                  aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">dfdfd</button> -->
  </div>


  <div class="collapse navbar-collapse" id="collapsibleNavId">


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/form">Home</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/dataTable">Tabla</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>


  </div>
</nav>
