<div class="container">
  <div class="jumbotron">

    <div class="row">
      <div class="col-12 text-center">
        <h1>Tipos de Usuarios</h1>
      </div>

    </div>


    <div class="row">
      <div class="col-6 pull-left">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Nombre">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="">Apellido Paterno</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Apellido Paterno">
        </div>
      </div>
      <div class="col-6 pull-left">
        <div class="form-group">
          <label for="">Apellido Materno</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Apellido Materno">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="">Telefono</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Telefono">
        </div>
      </div>
      <div class="col-6 pull-left">
        <div class="form-group">
          <label for="">Correo</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Correo">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="">Tipo de Usuario</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Tipo de Usuario">
        </div>
      </div>
      <div class="col-6 pull-left">
        <div class="form-group">
          <label for="">Calle</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Calle">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="">Numero</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Numero">
        </div>
      </div>
      <div class="col-6 pull-left">
        <div class="form-group">
          <label for="">Colonia</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Colonia">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="">CP</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="CP">
        </div>
      </div>
      <div class="col-6 pull-left">
        <div class="form-group">
          <label for="">Contraseña</label>
          <input type="text" class="form-control"aria-describedby="helpId" placeholder="Contraseña">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button type="submit" name="" id="" class="btn btn-outline-primary btn-lg btn-block mb-3">Aceptar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="reset" name="" id="" class="btn btn-outline-primary btn-lg btn-block">Limpiar</button>
      </div>
    </div>
    



  </div>
</div>
